<div class="sign-up-form">
    <h1>Login Admin Account</h1>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
     
      <mat-form-field>
        <input matInput placeholder="Email"
        formControlName="email"
        name="email"
        type="email"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Password"
        formControlName="password"
        name="password"
        type="password"
        />
      </mat-form-field>
      
      <br />
      <button type="submit" mat-raised-button color="primary">Login Account</button>
    </form>
  </div>
  