.add-emp-form {
    margin: 0 auto;
    text-align: center;
    form {display: flex; justify-content: space-around; text-align: initial;}
    img {
        width: 175px;
        margin-left: 10px
    }
    
}