<div class="sign-up-form">
  <h1>Create Admin Account</h1>
  <form [formGroup]='signUpForm' (ngSubmit)="signUp()" >
    <mat-form-field>
      <input matInput placeholder="Name"
      formControlName="name"
      name="name"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Email"
      formControlName="email"
      name="email"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Password"
        formControlName="password"
        name="password"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Confirm Password" 
      formControlName="confirmPassword"
      name="confirmPassword"
      />
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button>Create Account</button>
  </form>
</div>
