mat-card.view-employee.mat-card {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 20px;
    padding: 20px;
    width: fit-content;
    margin-top:50px;
    margin: 0 auto;
}