mat-toolbar {
    span {
    font-size: 12px;
    font-weight: normal;
    font-family: monospace;
    .nav-links {
        margin-right: 2em
    }
 }
 .fill-space-between {
        flex: 1 1 auto;
    }
}